@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BodoniModa";
  src: url("./assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "BodoniModa";
  src: url("./assets/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond/CormorantGaramond-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond/CormorantGaramond-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond/CormorantGaramond-Italic.ttf")
    format("truetype");
  font-style: italic;
}

/* Custom classes for buttons */
.button-80 {
  @apply relative transition-transform transform;
}

.button-80:hover {
  @apply scale-105;
}

.button-80:active {
  @apply translate-y-0.5;
}

.button-80:focus:before {
  content: "";
  @apply absolute left-[-0.375rem] top-[-0.375rem] transition-all pointer-events-none;
}

/* Custom animation class */
@layer utilities {
  .titleAnimate {
    @apply animate-fade-up animate-duration-[1000ms] animate-ease-in-out;
  }
}
