@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of global fonts */
@font-face {
  font-family: "BodoniModa";
  src: url("./assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "BodoniModa";
  src: url("./assets/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond/CormorantGaramond-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond/CormorantGaramond-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "CormorantGaramond";
  src: url("./assets/fonts/CormorantGaramond/CormorantGaramond-Italic.ttf")
    format("truetype");
  font-style: italic;
}

/* Reusable component styles */
@layer components {
  /* Custom classes for buttons */
  .button-80 {
    @apply relative transition-transform transform;
  }

  .button-80:hover {
    @apply scale-105;
  }

  .button-80:active {
    @apply translate-y-0.5;
  }

  .button-80:focus:before {
    content: "";
    @apply absolute left-[-0.375rem] top-[-0.375rem] transition-all pointer-events-none;
  }

  /* Reusable animation for titles */
  .titleAnimate {
    @apply animate-fade-up animate-duration-[1000ms] animate-ease-in-out;
  }
}

/* Here you can add additional utilities that are not widely reused */
@layer utilities {
  /* .loader {
    background: radial-gradient(circle closest-side, #000 94%, transparent)
      right/calc(200% - 1em) 100%;
  } */
  .loader-text {
    background: inherit;
    -webkit-background-clip: text;
  }
}

/* Custom animation and transition rules: document.startViewTransition */
@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top left / 0 no-repeat;
  mask-origin: content-box;
  animation: scale 1s;
  transform-origin: top left;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  transform-origin: top left;
  z-index: -1;
}
